html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Recipes-JS [beyond reality mod pack]
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    style(type='text/css')
      | .part { font-weight: bold }
      | .qty { font-weight: bold }
      | .comment > span { font-weight: bold }
      | li
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/static/index.css")
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-66120519-1', 'auto');
      | ga('send', 'pageview');
  body
    .container
      h1= "Recipes-JS "
        br.visible-xs
        small [beyond reality mod pack]
      // p.lead test test 123
      form.form-horizontal(action="#craftingSection")
        h4 Items to craft
        each x in [1,2,3,4,5,6]
          - var v_name = query['i' + x + 'name'] || ''
          - var v_qty = query['i' + x + 'qty'] || ''
          .form-group
            .col-xs-9.col-md-5.col-md-offset-3
              input.itembox.form-control(type="text", name="i#{x}name", value="#{v_name}" placeholder="lv bending machine" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
            .col-xs-3.col-md-1
              input.form-control(type="number", name="i#{x}qty", value="#{v_qty}", placeholder="1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
        .panel-group
          .panel.panel-default
            #techlevelCollapseHeading.panel-heading(role="button" data-toggle="collapse" href="#techlevelCollapse" aria-expanded="false" aria-controls="tecehlevelCollapse")
              h4.panel-title= "Tech Options "
                small [tap to toggle]
            #techlevelCollapse.collapse.panel-collapse.in(role="tabpanel" aria-labelledby="techlevelCollapseHeading")
              .panel-body
                each tval, tkey in basictech
                  - var user_tech_level = (tkey in query) ? (Number(query[tkey])) : 2 ;
                  .form-group
                    label.col-md-4.col-xs-8.col-md-offset-3(for="techselect#{tkey}")= tkey
                    .col-md-2.col-xs-4
                      select.form-control.btn-sm(id="techselect#{tkey}" name="#{tkey}")
                        each lval, lkey in techlevel
                          if lval === user_tech_level
                            option(value="#{lval}" selected="selected")= lkey
                            //input(type="radio", name="#{tkey}", value="#{lval}", checked)
                          else
                            //input(type="radio", name="#{tkey}", value="#{lval}")
                            option(value="#{lval}")= lkey
        input(type="submit" href="#")
      if crafts
        hr
        a(id="craftingSection" name="craftingSection")
        // This page contains the results of a crafting request
        - var leftovers = [];
        - var essentia = [];
        - var vis = [];
        h4 Starting Ingredients
        table.table.table-striped
          thead
            tr
              th
                .col-md-1.col-xs-1
                .col-md-5.col-xs-8 Item
                .col-md-1.col-xs-2 Qty
          tbody
            - var ingkeys = Object.keys(final);
            - ingkeys.sort();
            each index in ingkeys
              if final[index] < 0
                - leftovers.push(index)
              else if index.substr(-4) === " vis"
                - vis.push(index)
              else if index.substr(-9) === " essentia"
                - essentia.push(index)
              else if final[index] > 0
                tr.checkable
                  td
                    input.col-md-1.col-xs-1(type="checkbox" id="startinging#{index}")
                    .col-md-5.col-xs-8= index
                    .col-md-1.col-xs-2= Number(final[index])
        if leftovers.length > 0
          h4 Leftover Ingredients
          table.table.table-striped
            thead
              tr
                th
                  .col-md-1.col-xs-1
                  .col-md-5.col-xs-8 Item
                  .col-md-1.col-xs-2 Qty
            tbody
              each index in leftovers
                tr.checkable
                  td
                    input.col-md-1.col-xs-1(type="checkbox" id="Lstartinging#{index}")
                    .col-md-5.col-xs-8= index.replace(/recycled /, "")
                    .col-md-1.col-xs-2= -Number(final[index])
        if essentia.length > 0
          h4 Essentia Ingredients
          table.table.table-striped
            thead
              tr
                th
                  .col-md-1.col-xs-1
                  .col-md-5.col-xs-8 Item
                  .col-md-1.col-xs-2 Qty
            tbody
              each index in essentia
                tr.checkable
                  td
                    input.col-md-1.col-xs-1(type="checkbox" id="Estartinging#{index}")
                    .col-md-5.col-xs-8= index
                    .col-md-1.col-xs-2= Number(final[index])
        if vis.length > 0
          h4 Vis Ingredients
          table.table.table-striped
            thead
              tr
                th
                  .col-md-1.col-xs-1
                  .col-md-5.col-xs-8 Item
                  .col-md-1.col-xs-2 Qty
            tbody
              each index in vis
                tr.checkable
                  td
                    input.col-md-1.col-xs-1(type="checkbox" id="Vstartinging#{index}")
                    .col-md-5.col-xs-8= index
                    .col-md-1.col-xs-2= Number(final[index])
        h4 Crafting Steps
        table.table.table-striped
          each val, idx in crafts
            tr.checkable
              td
                input.col-md-1.col-xs-1(type="checkbox" id="craftingstep#{idx}")
                .col-md-1= "Step "+(idx+1)
                .col-md-9.col-xs-9
                  - var numcrafts = Number(val[0]) / (Number(val[4]) || 1);
                  = "Craft "
                  span.qty= Number(val[0])
                  = " "
                  span.part= val[1]
                  = " using recipe "
                  span.recipe= JSON.stringify(val[2])
                  if val[4]
                    span.comment= " = "
                      span= val[4]
                  if val[3]
                    br.visible-xs
                    span.comment= " [COMMENT: "
                      span= val[3]
                      = "]"
                  if numcrafts > 1
                    - var obj2 = {}
                    - for (var k in val[2]) {
                    -   obj2[k] = val[2][k] * numcrafts;
                    - }
                    span= " ["+numcrafts+" TIMES = "
                    span= JSON.stringify(obj2)
                    span= "]"
      if requestedUrl
        form(action="http://tinyurl.com/create.php" method="post" target="_blank")
          input(type="hidden" name="url" value="#{requestedUrl}")
          input(type="submit" name="submit" value="Make TinyURL!")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script
      != "var data = " + JSON.stringify(itemlist) + ";"
      | $(function() { $(".itembox").autocomplete({ source: data, delay: 50 }); });
      | $(function() { $(".checkable").click(function(e) { if ($(e.target).is('input')) return; $(this).find("input").prop("checked", function(i,val) { return !val; }); }); });
      | $(function() { $("#techlevelCollapse").collapse('hide'); });
      | $(function() { $("#helpButton").popover({ animation: true }); });
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
